[Unit]
Description=Main Winnie_Bot process

[Service]
WorkingDirectory=/srv/winnie/Winnie_Bot
Type=simple
User=root
ExecStart=/usr/bin/pnpm start
Restart=on-failure

[Install]
WantedBy=multi-user.target