[Unit]
Description=Winnie_Bot goal worker

[Service]
WorkingDirectory=/srv/winnie/Winnie_Bot
Type=simple
User=root
ExecStart=/usr/bin/yarn start:worker:goal
Restart=on-failure

[Install]
WantedBy=multi-user.target